<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ site.title }} | {{ page.title }}</title>
    <link rel="stylesheet" href="{{ '/assets/css/style.css' | relative_url }}">
</head>

<body>
    <header>
        <h1>{{ site.title }}</h1>
        <nav>
            <a href="{{ '/' | relative_url }}">Home</a>
            <a href="{{ '/cv/' | relative_url }}">CV</a>
            <a href="{{ '/blog/' | relative_url }}">Blog</a>
            <a href="{{ '/projects/' | relative_url }}">Projects</a>
            <a href="{{ '/reading/' | relative_url }}">Reading List</a>
        </nav>
    </header>

    <main>
        <div class="content-container">
            {{ content }}
        </div>
        {% if page.profile_image %}
        <img src="{{ page.profile_image }}" alt="Profile Picture" class="profile-img">
        {% endif %}
    </main>

    <footer>
        <ul class="social-links">
            <li><a href="https://github.com/ixmorrow" target="_blank" rel="noopener noreferrer">GitHub</a></li>
            <li><a href="https://www.linkedin.com/in/ivan-morrow-profile/" target="_blank"
                    rel="noopener noreferrer">LinkedIn</a></li>
            <li><a href="https://twitter.com/ivan_morrow" target="_blank" rel="noopener noreferrer">Twitter</a></li>
        </ul>
        <p>&copy; {{ site.time | date: "%Y" }} {{ site.title }}. All rights reserved.</p>
    </footer>
</body>

</html>